html {
    background-image: url('../assets/background.jpg');
    font-family: sans-serif;
}

h1 {
    color: maroon;
    font-family: "Pacifico";
    font-size: 8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.border {
    background-color: white;
    border-radius: 30px;
    border: 20px solid rgb(146, 233, 204);
    box-shadow: 30px 30px 40px darkgoldenrod;
    justify-content: space-between;
    margin: auto;
    padding: 2rem;
    text-align: center;
    width: 75%;
}

.border p {
    line-height: 1.5;
    margin: 0;
}

.profile {
    border-radius: 50%;
    float: left;
    height: 600px;
    padding-bottom: 1.75rem;
    margin-right: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.copy {
    padding: 1.25rem;
}

.styled-header {
    color: brown;
    font-family: "Pacifico";
    font-size: 3rem;
    letter-spacing: 2px;
    margin: auto;
}

.list-quiz {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 4rem 15rem;
}

#bisbee-box {
    text-align: center;
}

.bonus-pic {
    height: 1200px;
}

button {
    background-color: rgb(146 233 204);
    border-color: rgb(146 233 204);
    border-radius: 30px;
    font-size: 1.75rem;
    height: 100px;
    margin: 4rem;
    width: 350px;
}

li {
    line-height: 1.5;
}

.finish {
    font-size: 2.25rem;
    font-weight: 600; 
}

.finish.win {
    color: magenta;
    font-style: oblique;
}