html {
    background-image: url('../assets/background.jpg');
    font-family: sans-serif;
}

h1 {
    font-family: "Pacifico";
    font-size: 8rem;
    color: maroon;
}

#intro {
    margin: auto;
}

.border {
    background-color: white;
    border: 20px solid rgb(146, 233, 204);
    border-radius: 30px;
    box-shadow: 30px 30px 40px darkgoldenrod;
    height: 555px;
    text-align: center;
    width: 80%;
}

.border p {
    line-height: 1.5;
    padding: 2rem;
}

.profile {
    border-radius: 50%;
    float: left;
    height: 500px;
    margin: 6px;
    padding: 1.25rem;
}

h2 {
    font-size: 1.5rem;
}

.copy {
    padding: 2rem;
}

#para-two {
    margin-top: 0;
}

h4 {
    font-family: "Pacifico";
    color: brown;
    font-size: 2.5rem;
}

.lists-quiz {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;

}

button {
    background-color: rgb(146 233 204);
    border-color: rgb(146 233 204);
    border-radius: 30px;
    font-size: 1.75rem;
    height: 100px;
    margin: 3rem;
    width: 400px;
}

ul ol h3 {
margin: auto;
}

.bonus-pic {
    float: right;
    width: 1000px;
}

.finish {
    font-size: 2rem; 
}