html {
    background-color: rgb(242, 204, 86);
    font-family: sans-serif;
}

nav a {
    font-family: sans-serif;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 4rem;
    text-align: center;
}  

.logo {
    float: center;
    width: 1200px;
}

main {
    display: center;
    margin: auto;
}

#game-setup {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.question-marks {
    float: right;
    width: 900px;
}

#rules {
    font-size: 1.5rem;
    float: left;
}

button {
    background-color: rgb(240, 56, 202);
    border-color: rgb(240, 56, 202);
    border-radius: 30px;
    color: white;
    font-size: 1.5rem;
    height: 100px;
    width: 300px;
}

section {
    text-align: center;
}

#hi-five {
    border-radius: 50%;
    height: 600px;
}

#you-lose {
    height: 600px;
}

#result {
    font-size: 1.5rem;
    font-style: oblique;
    padding: 2rem;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}
