html {
    background-color: rgb(242, 204, 86);
    font-family: sans-serif;
    font-size: 2rem;
    margin: 5rem;
}

header {
    text-align: center;
}

button {
    height: 100px;
    width: 600px;
    margin: 20px;
    background-color: rgb(240, 56, 202);
    border-color: rgb(240, 56, 202);
    color: white;
    font-size: 1.5rem;
    border-radius: 30px;
}

input {
    height: 100px;
    width: 600px;
    margin: 20px;
}

section {
    text-align: center;
}

.art {
    float: right;
    width: 1000px;
}

.logo {
    float: center;
    width: 1600px;
}